.header {
    /* display: flex; */
    position: fixed;
    height: 5rem;
    width: 100vw;
    max-width: 100%;
    background: #0D0D0D;
    z-index: 1;
}

.logo {
    width: 15rem;
}

.logo a {
    color: #FFFFFF;
}

.vertical-line {
    border: 1px solid rgb(153, 151, 151);
    height: 5rem;
    margin-left: 0;
}

.navbar {
    display: flex;
    position: sticky;
    color: white;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 3;
}

.desktopMenuListItem {
    color: #FFFFFF;
    margin: 1rem;
    cursor: pointer;
}