.churchBenefits {
    overflow: hidden;
    width: 100vw;
    background: #F5F2F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
}

.churchBenefitsTitle {
    margin-top: 5rem;
}

.churchBenefitsDesc {
    margin: 2rem auto;
    max-width: 20rem;
}

.churchBenefitsImgs {
    /* object-fit: cover; */
    width: 100vw;
    max-width: 80rem;
    padding: 1rem;
}

.churchBenefitsImg {
    object-fit: cover;
    height: 22rem;
    width: 16rem;
    margin: 0.3rem;
    margin-bottom: 5rem;
    /* margin-left: 0; */

}

.churchBenefitsImgText {
    display: flex;
    position: absolute;
    color: #FFFFFF;
}